{% extends "layout.html" %}

{% block css %}
<link href="/static/blog.css" rel="stylesheet">
<style>
  p{ text-indent:2em;}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>渐进规模扩展网络<small> PSENet</small></h1>
  </div>
  <div class="row">

    <div class="col-sm-8 blog-main">
      <div align="center">
        <img src="/static/images/pse1.png" class="img-responsive" alt="Responsive image">
      </div>
      <div class="blog-post formula">
        <p>使用ResNet50作为主干，使用特征金字塔网络FPN将低级纹理特征和高级语义特征连接起来，进一步融合在F中，这种融合有助于各种尺度的核的生成。然后将特征图F投影到n个分支中以产生多个分割结果<span>`\{S_1,S_2,...,S_n\}`</span>。每一个<span>`S_i`</span>都是某一比例下所有文本实例的一个分割覆盖。在获得这些分割模板后，使用渐进尺度扩展算法将<span>`S_1`</span>所有实例的核逐步扩展到<span>`S_n`</span>中它们的完整形状，并获得最终的检测结果。</p>
        <div align="center">
          <img src="/static/images/pse2.png" class="img-responsive" alt="Responsive image" >
        </div>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>渐进规模扩展网络为每个文本实例生成不同比例的核，并逐渐将最小比例的核扩展到具有完整形状的文本实例。每个文本实例分配与原始文本实例相似的形状，但比例不同的核。采用基于广度优先搜索的渐进尺度扩展算法。从尺度最小的核开始(这一步可以区分实例)，通过在较大的核中逐渐包含更多的像素来扩展它们的区域，直到探索出完整的文本实例(最大的内核)。最小尺度的核很容易被分离，因为它们的边界彼此远离。最小尺度核不能覆盖文本实例的完整区域，所以从最小尺度核恢复完整的文本实例。</p>
      </div>
      <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li><a href="/doc">Develop DOC</a></li>
          <li><a href="/doc/db">DBNet</a></li>
          <li><a href="/doc/pse">PSENet</a></li>
          <li><a href="/doc/pan">PANNet</a></li>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full"></script>
<script>
    $(function () {
        $('#menu_d').addClass('active');
        $('#menu_c').removeClass('active');
        $('#menu_h').removeClass('active');
    })
</script>
{% endblock %}